DEBUG=on
ENVIRONMENT=dev

SECRET_KEY="super-secret-key"

ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DATABASE_URL=postgres://ask_hn_digest:ask_hn_digest@db:5432/ask_hn_digest
REDIS_URL=redis://:ask_hn_digest@redis:6379/0



AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=ask_hn_digest
AWS_SECRET_ACCESS_KEY=ask_hn_digest

SENTRY_DSN=
MAILGUN_API_KEY=
POSTHOG_API_KEY=
BUTTONDOWN_API_KEY=



# Get these values here: https://mjml.io/api/
MJML_SECRET=...
MJML_APPLICATION_ID=...

# depending on what AI provider you use, you can set the API key here.
# We are using PydanticAI so use names suggested in their docs:
# https://ai.pydantic.dev/models/
OPENAI_API_KEY=

LOGFIRE_TOKEN=
LOGFIRE_CONSOLE_SHOW_PROJECT_LINK=False
